*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,body, h1{
    background-color: rgb(82, 6, 6);
    color: rgb(187, 166, 166);
    text-align: center;
    
}


.master{
   margin: auto;
   width: 60%;
   position: relative;
  
}

.slides, img{
    width: 100%;
    height: 600px;
    image-resolution: from-image 300dpi;
   
}
.previous, .next{
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
   width: 0;
    margin-top: -22px;
    padding: 14px;
    background-color: transparent;
    color: transparent;
    font-weight: lighter;
    font-size: 20px;
    transition: 0.6s ease;
  border: 0;
    
    


}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover{
    background-color: rgb(119, 23, 23);
    color: white;
}
.number{
    color: #919191;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
 
}
@media only screen and (orientation: landscape) {
    body {
      background-color: rgb(35, 136, 170);
    }
  }



 

        